In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from datetime import datetime

In [2]:
# pull in DJIA data csv
file = "Data/Dow Jones Industrial Average Historical Data.csv"

djia_df = pd.read_csv(file)
djia_df.head()

           Date      Price       Open       High        Low     Vol. Change %
0  Dec 31, 2019  28,538.44  28,414.64  28,547.35  28,376.49  193.34M    0.27%
1  Dec 30, 2019  28,462.14  28,654.76  28,664.69  28,428.98  185.07M   -0.64%
2  Dec 27, 2019  28,645.26  28,675.34  28,701.66  28,608.98  184.93M    0.08%
3  Dec 26, 2019  28,621.39  28,539.46  28,624.10  28,535.15  155.97M    0.37%
4  Dec 24, 2019  28,515.45  28,572.57  28,576.80  28,503.21   95.29M   -0.13%

In [3]:
# pull in store data csv
file2 = "Data/train.csv"

store_df = pd.read_csv(file2)
store_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [4]:
#put date info in date time format
djia_df['Date']= pd.to_datetime(djia_df["Date"])
djia_df.head()

        Date      Price       Open       High        Low     Vol. Change %
0 2019-12-31  28,538.44  28,414.64  28,547.35  28,376.49  193.34M    0.27%
1 2019-12-30  28,462.14  28,654.76  28,664.69  28,428.98  185.07M   -0.64%
2 2019-12-27  28,645.26  28,675.34  28,701.66  28,608.98  184.93M    0.08%
3 2019-12-26  28,621.39  28,539.46  28,624.10  28,535.15  155.97M    0.37%
4 2019-12-24  28,515.45  28,572.57  28,576.80  28,503.21   95.29M   -0.13%

In [5]:
djia_df.dtypes

Date        datetime64[ns]
Price               object
Open                object
High                object
Low                 object
Vol.                object
Change %            object
dtype: object

In [7]:
#put store info in date time format
store_df['Order Date']= pd.to_datetime(store_df["Order Date"], format='%m/%d/%Y', errors='coerce')
store_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,2017-08-11,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-08-11,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-12-06,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-11-10,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-11-10,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [8]:
store_df.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date                object
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code             float64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
dtype: object